.background-image {
  background-image: url('/assets/robot.jpg'); /* Reemplaza con la ruta de tu imagen de fondo */
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white; /* Color del texto */
  padding: 20px;
  text-align: center;
  min-height: 80vh; /* Ajusta la altura a la altura de la ventana */
}

.list-group-item {
  background: transparent !important; /* Establece el fondo como transparente */
  border: none !important; /* Elimina el borde si es necesario */
}


