<div class="container-fluid background-image">

    <h1 class="text-center">Educacion</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <ul class="list-group">
                <li *ngFor="let educacion of educaciones" class="list-group-item">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="text-center">
                            <div style="color:black;">Mi Titulo: {{ educacion.titulo}}</div>
                            <div style="color: black;">{{ educacion.institucion }}</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<!--
<div class="container mt-5">
    <h2>Educación</h2-->
  
    <!-- Botones de acción (mostrados solo si el usuario está logeado) -->
    <!--div *ngIf="usuarioLogeado">
    <div>
      <button class="btn btn-primary" (click)="crearEducacion()">Crear Educación</button>
      <button class="btn btn-success" (click)="actualizarEducacion()">Guardar Educación</button>
      <button class="btn btn-danger" (click)="eliminarEducacion(educacionSeleccionada.id)" *ngIf="educacionSeleccionada">Eliminar Educación</button>
    </div-->
  
    <!-- Lista de educaciones >
    <ul class="list-group mt-3">
      <li class="list-group-item" *ngFor="let educacion of educaciones"-->
        <!-- Aquí muestra los detalles de la educación, por ejemplo: -->
        <!--{{ educacion.titulo }}
      </li>
    </ul>
</div-->
  
